/* #1.1 Main Container */
.container {
    display: flex;
    gap: 100px;
}

/* #1.1 Text Container */
.textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

/* #1.1 */
.subtitle {
    color: var(--btn);

}

/* #1.1  */
.title {
    font-size: 54px;
}

/* #1.1  */
.desc {
    font-size: 20px;
    font-weight: 300;

}

/* #1.1  */
.boxes {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* #1.1  */
.box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* #1.1  */
.box h1 {
    color: var(--btn);
}

/* 2.1 */
.imageContainer {
    flex: 1;
    position: relative;
    width: 100%;
    height: 500px;
}

/* #2.1 */
.image {
    object-fit: contain;
}

/* Media Query for this page */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        text-align: center;
    }

    .boxes {
        flex-direction: column;
        gap: 50px;
    }
}