/* #1.1 Main container */
.container {
    display: flex;
    gap: 100px;
}

/* #1.1 */
.imageContainer{
    flex: 1;
    position: relative;
    height: calc(100vh - 200px);
}

/* #1.1 */
.image{
    object-fit: cover;
}

/* #2.1 */
.textContainer{
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 50px;
}


/* #2.1 */
.avatar{
    object-fit: cover;
    border-radius: 50%;
}

/* #2.1 */
.title{
    font-size: 64px;
}


/* #2.1 */
.details{
    display: flex;
    gap: 20px;
}

/* #2.1 */
.detailText{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* #2.1 */
.detailTitle{
    color: gray;
    font-weight: bold;
}


/* #2.1 */
.detailValue{
    font-weight: 500;
}

/* #2.1 */
.content{
    font-size: 20px;
}

/* Media Queries for this page */
@media (max-width: 768px) {
    .imageContainer{
        display: none;
    }
}




