/* #3 defining variables for styles to use all across the app */
:root {
  --bg: #0d0c22;
  --bgSoft: #2d2b42;
  --text: #ffffff;
  --textSoft: #e5e5e5;
  --btn: #3673fd;
}

/* #1 Centralized style for app body coming from variables at #3 */
body {
  background-color: var(--bg);
  color: var(--text);
}

/* #2 removed default link color & inherited from body */
a {
  text-decoration: none;
  color: inherit;
}

/* #4 default margin & padding with universal selector*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* #5 Default container size for the app to center content in the page */
.container {
  width: 1536px;
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* #6 Container responsiveness on xl screens*/
@media (max-width: 1536px) {
  .container {
    width: 1366px;
  }
}

/* #7 for large screens */
@media (max-width: 1366px) {
  .container {
    width: 1280px;
  }
}

/* #8 for medium screen */
@media (max-width: 1280px) {
  .container {
    width: 1024px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* #9 for tablet screen */
@media (max-width: 1024px) {
  .container {
    width: 768px;
  }
}

/* #10 for more smaller screen */
@media (max-width: 768px) {
  .container {
    width: 648px;
  }
}

/* #10 for more smaller screen */
@media (max-width: 678px) {
  .container {
    width: 475px;
  }
}

/* #10 for mobile screen */
@media (max-width: 475px) {
  .container {
    width: 380px;
  }
}
