/* #1.1 Main Container */
.container{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    color: gray;
}

/* #1.1 Logo Div */
.logo{
    font-weight: bold;
}

/* #1.1 Text Div */
.text{
    font-size: 12px;
}